<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        .area{
            background:burlywood;
            border : 1px black;
            width: 300px;
            height: 100px;
            font-size: 40px;
            color: blueviolet;
        }

        .area-big{
            background: lightgoldenrodyellow;
            border: 1px black;
            height: 300px;
    
        }
    </style>
</head>
<body>
    <h1>Window 객체</h1>
    <p>Window 객체는 자바스크립트의 최상위 객체이며 BOM(브라우저)과 DOM(도큐먼트 object model)으로 나뉜다.</p>
    <p>BOM(Browser Object Model) : 
        location객체(페이지), navigator객체(이동), history객체(방문기록), screen객체(화면 띄우는 위치)
    </p>
    <p>DOM(Document Object Model) : 
        document객체
    </p>

    <h3>Window 객체</h3>
    <p>브라우저 창에 대한 설정을 하는 객체</p>
    <button onclick = "test1();">네이버</button>
    <button onclick = "test2();">다음</button>
    <script>
        function test1(){
            window.open("http://www.naver.com", "네이버", "location=0, resizable=no, menubar=no");
            // window.open('팝업URL', '팝업이름', '팝업설정(0은 yes나 no로 표시 가능)');
            // 새 창 또는 새 탭을 띄움

            /* width : 팝업창 가로길이
            height : 팝업창 세로길이
            toolbar=no : 단축도구창(툴바) 표시안함
            menubar=no : 메뉴창(메뉴바) 표시안함
            location=no : 주소창 표시안함
            scrollbars=no : 스크롤바 표시안함
            status=no : 아래 상태바창 표시안함
            resizable=no : 창변형 하지않음
            fullscreen=no : 전체화면 하지않음
            channelmode=yes : F11 키 기능이랑 같음
            left=0 : 왼쪽에 창을 고정(ex. left=30 이런식으로 조절)
            top=0 : 위쪽에 창을 고정(ex. top=100 이런식으로 조절) */

            // 이건 윈도우 팝업이고, 기존 창에서 뒷 배경이 블러처리되면서 나오는 게 모달 팝업
        }

        function test2(){
            window.open("http://www.daum.net","", "width = 500, height = 300");
        }
    </script>

    <br>

    <h3>window 객체의 timer 메소드</h3>
    <h4>setTimeout()</h4>
    <button onclick="test3();">실행확인</button>
    <script>
        function test3(){
            var myWindow = window.open();
            myWindow.alert('3초 뒤에 이 페이지는 종료됩니다.');
            // 새 페이지를 띄우고 해당 새 페이지에서 alert 띄우는 것

            window.setTimeout(function(){
                // setTimeout(function(){시간 지나고 할 것}, milliseconds);
                // 내가 지정한 시간을 milliseconds로 주고서
                // 해당 시간 지난 후에 function(){}을 하겠다는 것
                // myWindow.alert("뻥이지롱~");
                myWindow.close();
            }, 3000);
        }
    </script>

    <br>
    
    <h4>setInterval()</h4>
    <button onclick="test4();">실행확인</button>
    <div id="area1" class="area"></div>
    <script>
        function test4(){
            // setTimeout() : 일정시간 지난 후에 한번 실행하고 끝나는 것
            // setInterval() : 내가 지정한 시간 이후에 한번 이후에 한번 실행(끄기 전까지 계속 반복적으로 실행)
            //                 끄는 건 clearInterval()로 함

            var area1 = document.getElementById("area1");

            window.setInterval(function(){
                var date = new Date();

                area1.innerHTML = date.getHours() + " : "
                                + date.getMinutes() + " : "
                                + date.getSeconds();

            }, 1000);
        }
    </script>

    <br>

    <h4>clearInterval()</h4>
    <button onclick="test5();">실행확인</button>
    <div id="area2" class="area"></div>
    <script>
        function test5(){
            var area2 = document.getElementById("area2");
            var count = 10;
            var intervalId = window.setInterval(function(){

                area2.innerHTML = "countdown : " + count--; //1초에 한 번씩

                setTimeout(function(){ // setTimeout은 ~초 후에 한번 실행시켜주는 것임
                    clearInterval(intervalId); //119번째 window객체를 종료시켜주려고 하는 것임 
                                               //10초 후에 마지막 열려 있는 게 바로 꺼지는 것
                    area2.innerHTML = "종료";  //setInterval 안에 있어서 1초에 한번씩 계속 종료하는 것
                                               //하지만 대입연산자여서 하나만 출력됨
                                               //10초 후에 한 번만 실행하지만, 이게 setInterval 안에 있어서 1초에 한번씩 계속 실행됨
                }, 10000);
            }, 1000);
        }
    </script>

    <hr>

    <h3>screen 객체</h3>
    <p>웹 브라우저 화면이 아닌 운영체제 화면의 속성을 가지는 객체이다.</p>
    <button onclick="test6();">실행확인</button>
    <script>
        function test6(){
            var width = screen.width;
            var height = screen.height;
            
            child = window.open("","","width=800, height=500");
            // 윈도우 절대 크기 조절
            child.resizeTo(width,height);

            setInterval(function(){
                // 윈도우 상대 크기 조절
                child.resizeBy(-20,-20);
                // 윈도우 상대 위치 조절
                child.moveBy(10, 10);

            }, 500); //0.5초에 한번씩 크기를 줄이고, 오른쪽으로 옮기겠다.
            console.log("화면 너비 : " + width);
            console.log("화면 높이 : " + height);
            console.log("실제 화면에서 사용 가능한 너비 : " + screen.availWidth);
            console.log("실제 화면에서 사용 가능한 높이 : " + screen.availHeight);
        }
    </script>

    <hr>

    <h3>navigator 객체</h3>
    <!-- navigator 객체는 해당 브라우저에 대한 정보값을 다 가지고 있음  / 브라우저에 맞춰줌 -->
    <p>웹 페이지를 실행하고 있는 브라우저에 대한 정보를 가지고 있는 객체</p>
    <button onclick="test8();">실행확인</button>
    <div id="area8" class="area-big"></div>
    <script>
        function test8(){
            var str = "";

            for(var key in navigator){
                str += key + " : " + navigator[key] + "\n";
            }
            alert(str);
            // html 내부에서 줄바꿈하는 것은 <br> 태그를 해주면 됨
            // alert에는 문자열(string)을 넣어주기 때문에 "\n"을 넣는 것

            area8.innerHTML += "브라우저의 코드명 : " + navigator.appCodeName + "<br>";
            area8.innerHTML += "브라우저의 이름 : " + navigator.appName + "<br>";
            area8.innerHTML += "브라우저의 전체 정보 : " + navigator.userAgent + "<br>";
        }
    </script>

</body>
</html>